* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s ease;
}

.fancybox__container * {
  transition: none !important;
}

:root {
  --blue: #00B4FF;
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "Noto Sans";
  src: url(./src/fonts/NotoSans-Thin.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url(./src/fonts/NotoSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url(./src/fonts/NotoSans-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url(./src/fonts/NotoSans-SemiBold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Noto Sans";
  src: url(./src/fonts/NotoSans-Bold.ttf) format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
.content {
  max-width: 1472px;
  padding: 0 16px;
  margin: 0 auto;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: #F7F7F7;
}

.ripple {
  overflow: hidden;
  position: relative;
  display: flex;
  width: 336px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 3px;
  background: #00B4FF;
  box-shadow: 0px 13px 23.6px -12px rgba(0, 0, 0, 0.25);
  border: none;
  cursor: pointer;
}
.ripple span {
  color: #FFF;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  z-index: 1;
}
.ripple svg {
  position: relative;
  z-index: 1;
}
.ripple:hover::before {
  content: "";
  animation: colorToBlue 1s forwards;
}
.ripple:not(:hover)::before {
  animation: colorToTransparent 1s forwards;
}
.ripple::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: transparent;
  position: absolute;
  top: -160px;
  right: 0;
  z-index: 0;
  transition: 1s ease;
}

.header {
  display: flex;
  flex-direction: column;
}
.header .white-row {
  padding: 30px 0;
  background: #F7F7F7;
}
@media (max-width: 1024px) {
  .header .white-row {
    padding: 10px 0;
  }
}
.header .white-row .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .white-row .content .logo-column {
  display: flex;
  gap: 20px;
  align-items: center;
}
@media (max-width: 1024px) {
  .header .white-row .content .logo-column {
    gap: 17px;
  }
}
.header .white-row .content .logo-column a {
  display: flex;
  align-items: center;
}
@media (max-width: 1024px) {
  .header .white-row .content .logo-column a svg {
    height: 34px;
    width: 84px;
  }
}
.header .white-row .content .logo-column .line {
  width: 1px;
  height: 71px;
  background: #D9E7DA;
  flex-shrink: 0;
}
@media (max-width: 1024px) {
  .header .white-row .content .logo-column .line {
    height: 45px;
  }
}
.header .white-row .content .logo-column p {
  color: #262D2A;
  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.header .white-row .content .contact-column {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 1024px) {
  .header .white-row .content .contact-column {
    display: none;
  }
}
.header .white-row .content .contact-column .consultation {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.header .white-row .content .contact-column .consultation .title {
  color: rgba(30, 37, 40, 0.62);
  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header .white-row .content .contact-column .consultation .phone-select {
  position: relative;
}
.header .white-row .content .contact-column .consultation .phone-select .ph-select {
  display: flex;
  gap: 10px;
  align-items: center;
}
.header .white-row .content .contact-column .consultation .phone-select .ph-select.active::after {
  transform: rotate(180deg);
}
.header .white-row .content .contact-column .consultation .phone-select .ph-select p {
  color: #1E2528;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: relative;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .header .white-row .content .contact-column .consultation .phone-select .ph-select p {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .header .white-row .content .contact-column .consultation .phone-select .ph-select p {
    display: none;
  }
}
.header .white-row .content .contact-column .consultation .phone-select .ph-select::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M20.9994 16.9767V19.6864C21.0036 20.7223 20.0722 21.5873 19.0264 21.4929C10 21.5 3 14.435 3.00706 5.46919C2.91287 4.42895 3.77358 3.50106 4.80811 3.50009H7.52325C7.96247 3.49577 8.38828 3.651 8.72131 3.93684C9.66813 4.74949 10.2771 7.50777 10.0428 8.60428C9.85987 9.46036 8.9969 10.0593 8.41019 10.6448C9.69858 12.9062 11.5746 14.7785 13.8405 16.0644C14.4272 15.4788 15.0273 14.6176 15.8851 14.435C16.9855 14.2008 19.7615 14.8106 20.5709 15.764C20.8579 16.1021 21.0104 16.5337 20.9994 16.9767Z' stroke='%2327AAE1' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: block;
  margin-top: 5px;
}
.header .white-row .content .contact-column .consultation .phone-select .ph-select::after {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M5.29289 8.79289C5.68342 8.40237 6.31658 8.40237 6.70711 8.79289L12 14.0858L17.2929 8.79289C17.6834 8.40237 18.3166 8.40237 18.7071 8.79289C19.0976 9.18342 19.0976 9.81658 18.7071 10.2071L12.7071 16.2071C12.3166 16.5976 11.6834 16.5976 11.2929 16.2071L5.29289 10.2071C4.90237 9.81658 4.90237 9.18342 5.29289 8.79289Z' fill='%2327AAE1'/%3E%3C/svg%3E");
  display: block;
  transition: 0.3s ease;
}
.header .white-row .content .contact-column .consultation .phone-select .phone-select-wrapper {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: flex;
  padding: 20px 10px;
  flex-direction: column;
  align-items: center;
  z-index: 11;
  gap: 10px;
  border-radius: 3px;
  background: #FFF;
  box-shadow: 0px 6px 11px 0px rgba(0, 0, 0, 0.05);
  display: none;
}
@media (max-width: 768px) {
  .header .white-row .content .contact-column .consultation .phone-select .phone-select-wrapper {
    right: 0;
    width: 200px;
    left: unset;
  }
}
.header .white-row .content .contact-column .consultation .phone-select .phone-select-wrapper.active {
  display: flex;
}
.header .white-row .content .contact-column .consultation .phone-select .phone-select-wrapper a {
  color: #262D2A;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1024px) {
  .header .white-row .content .contact-column .consultation .phone-select .phone-select-wrapper a {
    font-size: 18px;
  }
}
.header .white-row .content .contact-column .social {
  display: flex;
  align-items: center;
  gap: 30px;
}
.header .white-row .content .contact-column .social a {
  position: relative;
  overflow: hidden;
}
.header .white-row .content .contact-column .social a:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #fff;
  transition: all 0.3s;
  opacity: 0;
  z-index: 1;
  transform-origin: top left;
  transform: skew(-45deg);
}
.header .white-row .content .contact-column .social a:hover {
  color: #fff;
}
.header .white-row .content .contact-column .social a:hover:before {
  width: 180%;
  left: 200%;
  opacity: 1;
}
.header .white-row .content .burger-btn {
  display: none;
}
@media (max-width: 1024px) {
  .header .white-row .content .burger-btn {
    display: block;
  }
}
.header .blue-row {
  border-radius: 3px;
  background: linear-gradient(90deg, #00B4FF 0%, #003951 100%);
}
@media (max-width: 1024px) {
  .header .blue-row {
    display: none;
  }
}
.header .blue-row .content ul {
  display: flex;
}
.header .blue-row .content ul li a {
  display: flex;
  height: 65px;
  padding: 20px 30px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #FFF;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.header .blue-row .content ul li a:hover {
  background: var(--blue);
}

.menu-modal {
  height: 100vh;
  display: flex;
  padding: 50px 0 0 0;
  max-width: 650px;
  width: 100%;
  flex-direction: column;
  gap: 26px;
  background: #262D2A;
  position: fixed;
  transition: right 0.5s linear, opacity 0.2s ease;
  top: 0;
  right: -200%;
  z-index: 20;
  opacity: 0;
}
.menu-modal.active {
  transition: right 0.5s linear, opacity 0.2s ease;
  right: 0;
  opacity: 1;
}
.menu-modal .close-row {
  display: flex;
  justify-content: flex-end;
  padding: 0 50px;
}
.menu-modal .close-row .close-btn {
  cursor: pointer;
}
.menu-modal .menu-modal-body {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 0 50px 50px;
  overflow-y: auto;
}
.menu-modal .menu-modal-body ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 45px;
}
.menu-modal .menu-modal-body ul li a {
  display: flex;
  gap: 20px;
  align-items: center;
  color: #A9AEB9;
  font-family: "Noto Sans";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu-modal .menu-modal-body ul li a::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M10 12C10 13.1046 10.8954 14 12 14C13.1046 14 14 13.1046 14 12C14 10.8954 13.1046 10 12 10C10.8954 10 10 10.8954 10 12Z' fill='%23A9AEB9'/%3E%3Cpath d='M10 6C10 7.10457 10.8954 8 12 8C13.1046 8 14 7.10457 14 6C14 4.89543 13.1046 4 12 4C10.8954 4 10 4.89543 10 6Z' fill='%23A9AEB9'/%3E%3Cpath d='M10 18C10 19.1046 10.8954 20 12 20C13.1046 20 14 19.1046 14 18C14 16.8954 13.1046 16 12 16C10.8954 16 10 16.8954 10 18Z' fill='%23A9AEB9'/%3E%3C/svg%3E");
  margin-top: 5px;
}
.menu-modal .menu-modal-body ul li a:hover {
  color: #FFFFFF;
}
.menu-modal .menu-modal-body ul li a:hover::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M10 12C10 13.1046 10.8954 14 12 14C13.1046 14 14 13.1046 14 12C14 10.8954 13.1046 10 12 10C10.8954 10 10 10.8954 10 12Z' fill='%2326B447'/%3E%3Cpath d='M10 6C10 7.10457 10.8954 8 12 8C13.1046 8 14 7.10457 14 6C14 4.89543 13.1046 4 12 4C10.8954 4 10 4.89543 10 6Z' fill='%2326B447'/%3E%3Cpath d='M10 18C10 19.1046 10.8954 20 12 20C13.1046 20 14 19.1046 14 18C14 16.8954 13.1046 16 12 16C10.8954 16 10 16.8954 10 18Z' fill='%2326B447'/%3E%3C/svg%3E");
  margin-top: 5px;
}
.menu-modal .menu-modal-body .social {
  display: flex;
  gap: 30px;
}
.menu-modal .menu-modal-body .phones-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.menu-modal .menu-modal-body .phones-container p {
  color: rgba(255, 255, 255, 0.62);
  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}
.menu-modal .menu-modal-body .phones-container a {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #FFF;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu-modal .menu-modal-body .phones-container a::before {
  content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' viewBox='0 0 24 25' fill='none'%3E%3Cpath d='M20.9994 16.9767V19.6864C21.0036 20.7223 20.0722 21.5873 19.0264 21.4929C10 21.5 3 14.435 3.00706 5.46919C2.91287 4.42895 3.77358 3.50106 4.80811 3.50009H7.52325C7.96247 3.49577 8.38828 3.651 8.72131 3.93684C9.66813 4.74949 10.2771 7.50777 10.0428 8.60428C9.85987 9.46036 8.9969 10.0593 8.41019 10.6448C9.69858 12.9062 11.5746 14.7785 13.8405 16.0644C14.4272 15.4788 15.0273 14.6176 15.8851 14.435C16.9855 14.2008 19.7615 14.8106 20.5709 15.764C20.8579 16.1021 21.0104 16.5337 20.9994 16.9767Z' stroke='%2327AAE1' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  display: block;
}

.hero-block {
  width: 100%;
  height: 670px;
}
@media (max-width: 1160px) {
  .hero-block {
    background: #FFFFFF;
  }
}
@media (max-width: 1024px) {
  .hero-block {
    height: 800px;
  }
}
.hero-block .swiper {
  width: 100%;
  height: 100%;
}
.hero-block .swiper .swiper-slide .hero-card {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
}
.hero-block .swiper .swiper-slide .hero-card .img {
  max-width: 1294px;
  width: 100%;
  height: 100%;
}
@media (max-width: 1820px) {
  .hero-block .swiper .swiper-slide .hero-card .img {
    max-width: 1150px;
  }
}
@media (max-width: 1570px) {
  .hero-block .swiper .swiper-slide .hero-card .img {
    max-width: 1000px;
  }
}
@media (max-width: 1350px) {
  .hero-block .swiper .swiper-slide .hero-card .img {
    max-width: 900px;
  }
}
@media (max-width: 1250px) {
  .hero-block .swiper .swiper-slide .hero-card .img {
    max-width: 800px;
  }
}
@media (max-width: 1160px) {
  .hero-block .swiper .swiper-slide .hero-card .img {
    max-width: 100%;
    height: 400px;
  }
}
.hero-block .swiper .swiper-slide .hero-card .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hero-block .swiper .swiper-slide .hero-card .info {
  position: absolute;
  right: 0;
  top: 47px;
  border-radius: 3px;
  background: #FFF;
  display: flex;
  max-width: 770px;
  width: 100%;
  padding: 40px 50px;
  flex-direction: column;
  align-items: flex-start;
  gap: 30px;
}
@media (max-width: 1570px) {
  .hero-block .swiper .swiper-slide .hero-card .info {
    max-width: 650px;
  }
}
@media (max-width: 1350px) {
  .hero-block .swiper .swiper-slide .hero-card .info {
    max-width: 550px;
    padding: 20px 25px;
  }
}
@media (max-width: 1160px) {
  .hero-block .swiper .swiper-slide .hero-card .info {
    position: relative;
    max-width: 100%;
    height: fit-content;
    top: 0;
    padding: 30px 20px;
  }
}
.hero-block .swiper .swiper-slide .hero-card .info h1, .hero-block .swiper .swiper-slide .hero-card .info h2 {
  color: #1E2528;
  font-family: "Noto Sans";
  font-size: 70px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%; /* 70px */
  max-width: 483px;
  width: 100%;
}
@media (max-width: 1350px) {
  .hero-block .swiper .swiper-slide .hero-card .info h1, .hero-block .swiper .swiper-slide .hero-card .info h2 {
    max-width: 450px;
  }
}
@media (max-width: 1160px) {
  .hero-block .swiper .swiper-slide .hero-card .info h1, .hero-block .swiper .swiper-slide .hero-card .info h2 {
    font-size: 45px;
    max-width: 100%;
  }
}
@media (max-width: 1024px) {
  .hero-block .swiper .swiper-slide .hero-card .info h1, .hero-block .swiper .swiper-slide .hero-card .info h2 {
    font-size: 35px;
  }
}
.hero-block .swiper .swiper-slide .hero-card .info p {
  color: #1E2528;
  font-family: "Noto Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  max-width: 483px;
  width: 100%;
}
@media (max-width: 1350px) {
  .hero-block .swiper .swiper-slide .hero-card .info p {
    max-width: 450px;
  }
}
@media (max-width: 1160px) {
  .hero-block .swiper .swiper-slide .hero-card .info p {
    font-size: 20px;
    max-width: 100%;
  }
}
@media (max-width: 1024px) {
  .hero-block .swiper .swiper-slide .hero-card .info p {
    font-size: 15px;
  }
}
.hero-block .content {
  position: relative;
  width: 100%;
}
.hero-block .content .controls-block {
  position: absolute;
  right: 0;
  bottom: 28px;
  z-index: 7;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 47px;
}
@media (max-width: 1160px) {
  .hero-block .content .controls-block {
    right: 50%;
    gap: 30px;
    transform: translateX(50%);
    bottom: 30px;
  }
}
.hero-block .content .controls-block .controls {
  display: flex;
  gap: 10px;
  align-items: center;
}
.hero-block .content .controls-block .controls .arrow {
  width: 44px;
  height: 44px;
  flex-shrink: 0;
  margin: 8px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  cursor: pointer;
  transition: 0.5s ease;
}
.hero-block .content .controls-block .controls .arrow:hover {
  background: var(--blue);
  transform: scale(1.2);
}
.hero-block .content .controls-block .controls .arrow:hover svg path {
  fill: #FFFFFF;
}
.hero-block .content .controls-block .controls .hero-swiper-pagination {
  color: #2E3441;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}
.hero-block .content .controls-block .controls .hero-swiper-pagination span {
  color: #2E3441;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 100;
  line-height: normal;
}

.services-block {
  padding: 50px 0;
}
@media (max-width: 1024px) {
  .services-block {
    padding: 30px 0;
  }
}
.services-block .content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 1024px) {
  .services-block .content {
    gap: 30px;
  }
}
.services-block .content h2 {
  color: #A0A0A0;
  font-family: "Noto Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .services-block .content h2 {
    text-align: center;
  }
}
.services-block .content .block-link {
  margin-left: auto;
  display: flex;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 3px;
  border: 1px solid var(--blue);
}
@media (max-width: 768px) {
  .services-block .content .block-link {
    margin-left: 0;
  }
}
.services-block .content .block-link:hover {
  background: var(--blue);
}
.services-block .content .block-link:hover span {
  color: #FFFFFF;
}
.services-block .content .block-link:hover svg path {
  fill: #FFFFFF;
}
.services-block .content .block-link span {
  color: var(--blue);
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.services-block .content .service-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.services-block .content .service-cards .service-card {
  display: flex;
  width: 215px;
  height: 215px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 3px;
  background: #FFF;
  position: relative;
  overflow: hidden;
}
@media (max-width: 768px) {
  .services-block .content .service-cards .service-card {
    width: 100%;
    height: 250px;
  }
}
.services-block .content .service-cards .service-card.midi {
  max-width: 460px;
  width: 100%;
  flex-shrink: unset;
}
@media (max-width: 1472px) {
  .services-block .content .service-cards .service-card.midi {
    max-width: unset;
    width: unset;
    flex: 1;
    min-width: 215px;
  }
}
.services-block .content .service-cards .service-card.maxi {
  max-width: 705px;
  flex-shrink: unset;
  width: 100%;
}
@media (max-width: 1472px) {
  .services-block .content .service-cards .service-card.maxi {
    max-width: unset;
    width: unset;
    flex: 1;
    min-width: 215px;
  }
}
.services-block .content .service-cards .service-card:hover .image:before {
  background: transparent;
}
.services-block .content .service-cards .service-card:hover .image img {
  clip-path: circle(150% at 99% 0);
  transform: scale(1.1);
}
.services-block .content .service-cards .service-card:hover .info p {
  color: #fff;
}
.services-block .content .service-cards .service-card:hover .info span {
  overflow: hidden;
  height: 0;
  margin-top: 0;
}
.services-block .content .service-cards .service-card:not(:hover) .image:before {
  transition: 0.3s ease 1s;
}
.services-block .content .service-cards .service-card .image {
  width: 100%;
  height: 100%;
  position: relative;
}
.services-block .content .service-cards .service-card .image:before {
  content: "";
  bottom: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--blue);
  display: block;
  z-index: 3;
  clip-path: circle(30px at 99% 0);
  transition: 0.1s ease;
}
@media (max-width: 768px) {
  .services-block .content .service-cards .service-card .image:before {
    content: none;
  }
}
.services-block .content .service-cards .service-card .image img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  clip-path: circle(30px at 99% 0);
  transition: clip-path 1s ease, transform 2s ease 0.3s;
}
@media (max-width: 450px) {
  .services-block .content .service-cards .service-card .image img {
    clip-path: unset;
  }
}
.services-block .content .service-cards .service-card .info {
  position: absolute;
  padding: 20px;
  display: flex;
  flex-direction: column;
  z-index: 4;
  height: fit-content;
  width: 100%;
}
.services-block .content .service-cards .service-card .info p {
  color: #1E2528;
  font-family: "Noto Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 450px) {
  .services-block .content .service-cards .service-card .info p {
    color: #FFFFFF;
  }
}
.services-block .content .service-cards .service-card .info span {
  color: #1E2528;
  font-family: "Noto Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  margin-top: 20px;
  height: auto;
  transition: all 0.5s ease;
}
@media (max-width: 450px) {
  .services-block .content .service-cards .service-card .info span {
    color: #FFFFFF;
  }
}

.contacts-block {
  background-color: #1E2528;
  padding: 100px 0;
  background-image: url("/src/images/contacts.png");
  background-repeat: no-repeat;
  background-position: right;
}
@media (max-width: 1024px) {
  .contacts-block {
    background-image: none;
    padding: 30px 0;
  }
}
@media (max-width: 1024px) {
  .contacts-block .content .desktop-form {
    display: none;
  }
}
.contacts-block .content .desktop-form form {
  display: flex;
  gap: 50px;
}
.contacts-block .content .desktop-form form .form-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 485px;
  width: 100%;
}
.contacts-block .content .desktop-form form .form-column .form-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contacts-block .content .desktop-form form .form-column .form-item span {
  color: #385D6A;
  font-family: "Noto Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 22.5px */
  text-transform: uppercase;
}
.contacts-block .content .desktop-form form .form-column .form-item input {
  border-radius: 3px;
  border: 1px solid #385D6A;
  background: #263439;
  outline: none;
  display: flex;
  padding: 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  color: #FFF;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}
.contacts-block .content .desktop-form form .form-column .form-item input::placeholder {
  color: #FFF;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}
.contacts-block .content .desktop-form form .form-column .form-item textarea {
  display: flex;
  height: 180px;
  padding: 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 3px;
  border: 1px solid #385D6A;
  background: #263439;
  color: #FFF;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  resize: none;
  outline: none;
}
.contacts-block .content .desktop-form form .form-column .form-item textarea::placeholder {
  color: #FFF;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}
.contacts-block .content .desktop-form form .title-column {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 485px;
  width: 100%;
}
.contacts-block .content .desktop-form form .title-column h2 {
  color: var(--blue);
  font-family: "Noto Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.contacts-block .content .desktop-form form .title-column p {
  color: #FFF;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}
.contacts-block .content .desktop-form form .title-column button {
  width: fit-content;
}
.contacts-block .content .mobile-form {
  display: none;
}
@media (max-width: 1024px) {
  .contacts-block .content .mobile-form {
    display: block;
  }
}
.contacts-block .content .mobile-form form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.contacts-block .content .mobile-form form h2 {
  color: var(--blue);
  font-family: "Noto Sans";
  font-size: 35px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.contacts-block .content .mobile-form form p {
  color: #FFF;
  font-family: "Noto Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}
.contacts-block .content .mobile-form form button {
  width: 100%;
}
.contacts-block .content .mobile-form form .form-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contacts-block .content .mobile-form form .form-item span {
  color: #385D6A;
  font-family: "Noto Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 22.5px */
  text-transform: uppercase;
}
.contacts-block .content .mobile-form form .form-item input {
  border-radius: 3px;
  border: 1px solid #385D6A;
  background: #263439;
  outline: none;
  display: flex;
  padding: 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  color: #FFF;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}
.contacts-block .content .mobile-form form .form-item input::placeholder {
  color: #FFF;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}
.contacts-block .content .mobile-form form .form-item textarea {
  display: flex;
  height: 180px;
  padding: 20px;
  align-items: flex-start;
  gap: 10px;
  align-self: stretch;
  border-radius: 3px;
  border: 1px solid #385D6A;
  background: #263439;
  color: #FFF;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  resize: none;
  outline: none;
}
.contacts-block .content .mobile-form form .form-item textarea::placeholder {
  color: #FFF;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
}

.articles {
  padding: 50px 0;
}
@media (max-width: 1024px) {
  .articles {
    padding: 30px 0;
  }
}
.articles .content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
@media (max-width: 1024px) {
  .articles .content {
    gap: 30px;
  }
}
.articles .content h2 {
  color: #A0A0A0;
  font-family: "Noto Sans";
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .articles .content h2 {
    text-align: center;
  }
}
.articles .content .block-link {
  margin-left: auto;
  display: flex;
  padding: 15px 20px;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 3px;
  border: 1px solid var(--blue);
}
@media (max-width: 768px) {
  .articles .content .block-link {
    margin-left: 0;
  }
}
.articles .content .block-link:hover {
  background: var(--blue);
}
.articles .content .block-link:hover span {
  color: #FFFFFF;
}
.articles .content .block-link:hover svg path {
  fill: #FFFFFF;
}
.articles .content .block-link span {
  color: var(--blue);
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.articles .content .articles-cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.articles .content .articles-cards .article-card {
  width: calc((100% - 90px) / 4);
  height: 321px;
  border-radius: 3px;
  background: #FFF;
  overflow: hidden;
  position: relative;
}
@media (max-width: 1024px) {
  .articles .content .articles-cards .article-card {
    width: calc((100% - 30px) / 2);
  }
}
@media (max-width: 600px) {
  .articles .content .articles-cards .article-card {
    width: 100%;
  }
}
.articles .content .articles-cards .article-card:hover .image img {
  clip-path: circle(115.7% at 58% 0);
}
.articles .content .articles-cards .article-card:hover .info p {
  color: #FFFFFF;
}
.articles .content .articles-cards .article-card .image {
  width: 100%;
  height: 100%;
}
.articles .content .articles-cards .article-card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  clip-path: circle(58.6% at 58% 0);
  transition: 0.6s ease;
}
.articles .content .articles-cards .article-card .info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
}
.articles .content .articles-cards .article-card .info p {
  color: #1E2528;
  font-family: "Noto Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer {
  background: linear-gradient(90deg, #003951 -27.16%, #00B4FF 114.74%);
  padding: 50px 0;
}
.footer .content {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer .content .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
@media (max-width: 1024px) {
  .footer .content .row {
    flex-direction: column;
    gap: 30px;
  }
}
.footer .content .row .contact-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
@media (max-width: 1024px) {
  .footer .content .row .contact-wrap {
    align-items: center;
  }
}
.footer .content .row .contact-wrap span {
  color: rgba(255, 255, 255, 0.62);
  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer .content .row .contact-wrap .phone {
  color: #FFF;
  font-family: "Noto Sans";
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.footer .content .row .contact-wrap .emaail {
  color: #FFF;
  text-align: right;
  font-family: "Noto Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.footer .content .row .contact-wrap p {
  color: #FFF;
  font-family: "Noto Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 253px;
}
@media (max-width: 1024px) {
  .footer .content .row .contact-wrap p {
    text-align: center;
  }
}
.footer .content .row .social {
  display: flex;
  align-items: center;
  gap: 50px;
}
.footer .content .row .social-link {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
}
.footer .content .row .social-link:first-child:hover {
  background: #3ADC49;
}
.footer .content .row .social-link:last-child:hover {
  background: #27AAE1;
}
.footer .content .line {
  width: 100%;
  height: 1px;
  background: #00B4FF;
}
.footer .content .copy {
  color: #00B4FF;
  text-align: left;
  font-family: "Noto Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1024px) {
  .footer .content .copy {
    text-align: center;
  }
}

@keyframes colorToBlue {
  0% {
    background: transparent;
    transform: scale(0);
  }
  100% {
    background: #53CCFF;
    transform: scale(40);
  }
}
@keyframes colorToTransparent {
  0% {
    background: #53CCFF;
    transform: scale(40);
  }
  100% {
    background: transparent;
    transform: scale(0);
  }
}
@keyframes circleToTransparent {
  from {
    transform: scale(1);
    background: var(--blue);
  }
  to {
    transform: scale(20);
    background: transparent;
  }
}
@keyframes circleToBlue {
  from {
    transform: scale(10);
    background: transparent;
  }
  to {
    transform: scale(1);
    background: var(--blue);
  }
}
.custom-checkbox {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  cursor: pointer;
}

.custom-checkbox .checkbox {
  margin-right: 30px;
  flex-shrink: 0;
}

.custom-checkbox input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
}

.checkbox {
  position: relative;
  width: 18px;
  height: 18px;
  border: 1px solid #8E9293;
  border-radius: 2px;
}
@media (max-width: 768px) {
  .checkbox {
    width: 13px;
    height: 13px;
  }
}

.custom-checkbox span {
  color: #8E9293;
  font-family: "Noto Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 22.5px */
}
@media (max-width: 768px) {
  .custom-checkbox span {
    font-size: 13px;
  }
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: auto;
  display: none;
}

.custom-checkbox input:checked ~ .checkbox .checkmark {
  display: block;
}

.custom-checkbox input:checked ~ .checkbox {
  background: var(--blue);
  border: 1px solid var(--blue);
}

/*# sourceMappingURL=style.css.map */
